<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs', {title}) -%>
  <body>
    <%- include('./includes/sidebar.ejs') -%>
    <main class="Main">
      <h1 class="Main__heading"><%= title %></h1>
      <p class="Description"><%= description %></p>
      <a href="/item">Back to All Items?</a>
    </main>
  </body>
</html>
