<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs', {title}) -%>
  <body>
    <%- include('./includes/sidebar.ejs') -%>
    <main class="Main">
      <h1 class="Main__heading"><%= title %></h1>
      <div class="Categories">
        <% categories.forEach(category => { %> <%-
        include('./includes/category.ejs', {category: category.name, URL:
        category.URL}) -%> <% }) %>
      </div>
    </main>
  </body>
</html>
