<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs', {title: 'Assetica'}) -%>
  <body class="body--full-screen">
    <main class="Home">
      <img class="Home__logo" src="logo.png" />
      <h1 class="Home__heading">Your inventory on the cloud.</h1>
      <a class="Home__button" href="/item">Let's Go</a>
    </main>
  </body>
</html>
