<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs', {title}) -%>
  <body>
    <%- include('./includes/sidebar.ejs') -%>
    <main class="Main">
      <div class="Main__heading--wrapper">
        <h1 class="Main__heading"><%= title %></h1>
        <a href="/category/new"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20">
            <title>Create Category</title>
            <path
              fill="currentColor"
              d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"
            /></svg
        ></a>
      </div>
      <div class="Categories">
        <% categories.forEach(category => { %> <%-
        include('./includes/category.ejs', {category: category.name, URL:
        category.URL}) -%> <% }) %>
      </div>
    </main>
  </body>
</html>
