.Main__heading--item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 24px;
}

.Main__heading--item__title {
  color: var(--primary);
  font-size: 2.5lvw;
}

.Price,
.Stock {
  color: var(--subtext);
  font-size: 1.25lvw;
  font-weight: 500;
}
