@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: grid;
  background-color: var(--background);
  grid-template-columns: 72px auto; /* sidebar main */
}

:root {
  --primary: #2f0f5d;
  --sidebar-hover: #766491;
  --secondary: #27e1c1;
  --secondary-alt: #0ea293;
  --secondary-bg: #98eddf;
  --tertiary: #f5f3c1;
  --background: rgb(239, 235, 249);
  --surface: #f8f6fa;
  --white: #fdfbff;
  --icon: #eae8e7;
  --text: #06010c;
  --subtext: rgb(85, 85, 85);
  --form-outline: rgb(205, 205, 206);
  --destructive: #c30528;
  --positive: #19b953;
}

.Main {
  align-self: center;
  justify-self: center;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  background-color: var(--surface);
  margin: 24px 0;
}

.Main__heading {
  color: var(--primary);
  font-size: 2.5lvw;
  margin-bottom: 24px;
}

.Description,
.Stock {
  margin-bottom: 24px;
}

.Price {
  margin-bottom: 8px;
}

.Description {
  font-size: 1.2lvw;
  width: 60%;
  line-height: 1.5;
}
